.page {
    .title {
      display: none;
    }
  }
  
  .content {
    max-width: 1240px;
    margin: 0 auto;
    padding-top: 120px;
    display: flex;
    gap: 60px;
    align-items: flex-start;
  }
  
  .navigation {
    width: 320px;
  }
  
  .navList {
    margin: 0;
    padding: 0;
    list-style: none;
  
    li + li {
      margin-top: 26px;
    }
  }
  
  .navLink {
    color: var(--text-inactive-color);
    text-decoration: none;
    transition: color 0.2s;
  }
  
  .navLinkActive {
    color: var(--text-primary-color);
  }
  
  .logout {
    padding: 0;
    border: 0;
    background: transparent;
    color: var(--text-inactive-color);
    cursor: pointer;
  }
  
  .hint {
    margin-top: 80px;
    color: var(--text-inactive-color);
    opacity: 0.4;
    line-height: 1.5;
  }
  
  .outlet {
    width: 480px;
  }
