$app-header-height: 88px;

.page {
  display: flex;
  flex-direction: column;
  height: calc(100vh - $app-header-height);

  .title {
    width: 100%;
    max-width: 1260px;
    margin-right: auto;
    margin-left: auto;
  }
}
