@use '@styles/variables' as *;

.header {
  background-color: var(--background);
}

.menu {
  display: flex;
  align-items: center;
  max-width: 1240px;
  height: 56px;
  margin: 0 auto;
}

.menuPartLeft {
  display: flex;
  flex-basis: 35%;
}

.leftGap {
  margin-left: 40px;
}

.link {
  display: flex;
  align-items: center;
  color: var(--text-inactive-color);
  text-decoration: none;
}

.linkActive {
  color: var(--text-primary-color);
}

.linkPositionLast {
  display: flex;
  flex-basis: 35%;
  justify-content: flex-end;
}

.logo {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
